/* Font */
@font-face {
    font-family: "Aspekta Variable";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    src: url("./font/AspektaVF.woff2") format("woff2");
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

html, body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #121110;
    font-family: 'Aspekta Variable';
    font-weight: 400;
}

.noise {
    position: fixed;
    pointer-events: none;
    z-index: 999999;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: .9;
}

.noise::before {
    content: "";
    position: absolute;
    animation: noise 1.2s steps(3) both infinite;
    will-change: auto;
    background-image: url(./assets/PNG/noise.png);
    background-size: 100px;
    width: 200%;
    height: 200%;
    left: -50%;
    top: -50%;
    opacity: .4;
}

.bg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg-container::after {
    content: "";
    position: absolute;
    background: radial-gradient(rgba(18, 17, 16, 1) 0%, rgba(18, 17, 16, .9) 70%, rgba(18, 17, 16, .3) 100%);
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    opacity: 1;
}

.scroller-wrapper {
    height: 32px;
    opacity: .25;
}

.scroller {
    max-width: 100%;
}

.scroller-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

p {
    color: #FAF4E1;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.3px;
}

.scroller[data-animated="true"] {
    overflow: hidden;
}

.scroller[data-animated="true"] .scroller-inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }
  
  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }
  
  .scroller[data-speed="fast"] {
    --_animation-duration: 20s;
  }
  
  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }

.container {
    z-index: 99;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 40px;
    max-width: 600px;
}

.logo {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1 {
    color: #FAF4E1;
    font-size: 52px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0px;
}

.logo p {
    text-transform: uppercase;
    color: rgb(229, 223, 202, 0.6);
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 3.5px;
}

.message {
    color: #FAF4E1;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.4px;
}

.contact {
    display: flex;
    gap: 20px;
}

.contact a {
    color: rgba(229, 223, 202, 0.6);
    text-decoration: underline;
    text-underline-offset: .3em;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
    transition: all cubic-bezier(0.05, 0.2, 0.1, 1) .8s;
}

.contact a:hover {
    color: #D6A334;
}

@keyframes scroll {
    to {
      transform: translate(calc(-50% - 2.25px));
    }
  }

@keyframes noise {
    0% {
        transform: translate3d(1%, -1%, 0);
    }
    10% {
        transform: translate3d(-5%, -2%, 0);
    }
    20% {
        transform: translate3d(10%, 5%, 0);
    }
    30% {
        transform: translate3d(5%, -11%, 0);
    }
    40% {
        transform: translate3d(-12%, -5%, 0);
    }
    50% {
        transform: translate3d(10%, 9%, 0);
    }
    60% {
        transform: translate3d(15%, 0, 0);
    }
    70% {
        transform: translate3d(-10%, 8%, 0);
    }
    80% {
        transform: translate3d(10%, 2%, 0);
    }
    90% {
        transform: translate3d(1%, 5%, 0);
    }
    100% {
        transform: translate3d(0, 8%, 0);
    }
}